
		h1#header {text-align: center;}
		body {background-color:#444444
		}  
		body {border-color: black
			width: 400px;}
		h1 {color: white;}
		p {color: white;}
		ul {color: white;}
		a {color: mediumaquamarine; }
		ul#AboutMe li{display: inline;}
		ul#AboutMe {text-align: center; }
		ul#FooterLinks li{display: inline;}
		ul#FooterLinks {text-align: center;}

